@media all and (min-width: 1200px) {
    header.main-header nav ul li {
        padding-right: 25px;
    }
    header.main-header nav ul li a {
        font-size: 26px;
    }
}
@media all and (min-width: 769px){
    header.main-header nav ul li {
        display: flex; 
        align-items: center;
        height: 10%;
    }
}
@media all and (max-width: 768px){
    header.main-header nav ul {
        flex-flow: wrap row;
        margin: 0;
        padding: 0;
    }
    header.main-header nav ul li {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    header.main-header nav ul li:hover {
        border: 0;
        background-color: #FF3F00;
    }
    
}
@media all and (max-width: 320px) {
    header.main-header nav ul {
        flex-flow: wrap row;
        margin: 0;
        padding: 0;
    }
    header.main-header nav ul li {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }
    header.main-header nav ul li:hover {
        border: 0;
        background-color: #FF3F00;
    }
    header.main-header nav ul li a {
        font-size: 17px;
    }
}